site/node_modules
site/dist
data/lambda.zip
data/lambda/goad-lambda
infrastructure/bindata.go

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
