site/node_modules
site/dist
data/lambda.zip
data/lambda/goad-lambda
infrastructure/bindata.go
site/Upstatic
build/
goad.ini

*debug*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.DS_Store
*.olx
*.gz
Vagrantfile
.vagrant
*.log
.idea
