Package: goad
Version: {{VERSION}}
Section: base
Priority: optional
Architecture: {{ARCH}}
Maintainer: {{MAINTAINER}}
Description: AWS Lambda powered, highly distributed, load testing tool built in Go
 Goad takes full advantage of the power of Amazon Lambdas for distributed load
 testing. You can use goad to launch HTTP loads from up to four AWS regions at
 once. Each lambda can handle hundreds of concurrent connections, we estimate
 that Goad should be able to achieve peak loads of up to 100,000 concurrent
 requests.
